$colorTarjeta: rgb(241, 241, 250);
$colorTarjeta2:  rgb(241, 241, 250);
$titulos: 45px;
$colorone: rgb(61, 59, 59);
$colortwo: rgb(56, 56, 128);
$colorthree: rgb(48, 102, 250);
$colorfooter: rgb(70, 67, 67);
$footer:(
    background: $colorfooter,
    height:150px,
    display: grid,
    align-items: center,
    place-content: center,
    color:rgb(255, 255, 255),
    font-size: 16px,
);
